@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #101010;
    --cor-texto: #ffffffff;
    --fonte-primaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    padding: 2em;
}

h1 {
    color: var(--cor-texto);
    font-family: var(--fonte-primaria);
    font-weight: 600;
    margin: 0; /* Remove qualquer margem padrão */
    font-size: 65px;
    letter-spacing: -5px;
}

.img-container {
    position: relative;
    width: 800px; /* Ajuste conforme necessário */
    height: 800px; /* Ajuste conforme necessário */
}

.img-container img {
    display: block; /* Garante que a imagem seja um elemento block */
    width: 100%; /* Ajusta a largura conforme necessário */
    height: 100%; /* Ajusta a altura conforme necessário */
    margin-top: -50px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -50px;
}

.subtitulo {
    margin-top: 10px; /* Ajuste o valor conforme necessário */
    font-family: var(--fonte-primaria); /* Usar a mesma fonte, se aplicável */
    color: var(--cor-texto); /* Usar a mesma cor, se aplicável */
    font-weight: 400; /* Ou outro peso de fonte, se desejado */
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
    align-items: center;
}

.cabecalho-menu-item {
    color: var(--cor-texto);
    font-weight: 600;
    font-family: var(--fonte-primaria);
    margin-right: 60px;
}

.cabecalho-menu-item:hover {
    color: var(--cor-texto);
    font-weight: 400;
    transition: 1.2s;
    transform: scale(1.1);
}

.conteudo-principal {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura igual à altura da tela */
}

.conteudo-principal img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura da tela */
}

.body2 {
    font-family: var(--fonte-primaria);
    padding: 2em;
    background-image: url('imag/image.png');  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.conteudo2 {
    padding: 20px; 
}

.conteudo-principal2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding: 20px; 
    justify-content: flex-start; 
}

.conteudo-principal-escrito2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 35px; 
    text-align: left; 
}

.conteudo-principal-escrito-top-titulo2 {
    font-family: var(--fonte-primaria);
    font-weight: 300;
    font-size: 15px;
    color: #CDF6F7;
}

.conteudo-principal-escrito-titulo2 {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 50px;
    color: var(--cor-texto);
    margin-bottom: 85px;
}

.conteudo-principal-escrito-subtitulo2 {
    color: var(--cor-texto);
    max-width: 1000px; 
    line-height: 1.7; 
    font-weight: 400;
    font-size: 20px !important;
    text-align: left; 
}

.conteudo-principal3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.conteudo3{
    padding: 20px;
}

.conteudo-principal3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-around;
    padding: 20px; 
}

.conteudo-principal-escrito3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 35px; 
}

.titulos3 {
    align-self: flex-end;
    text-align: right; 
}

.conteudo-principal-escrito-top-titulo3 {
    font-family: var(--fonte-primaria);
    font-weight: 300;
    font-size: 15px;
    color: #CDF6F7;
}

.conteudo-principal-escrito-titulo3 {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 50px;
    color: var(--cor-texto);
    margin-bottom: 25px;
}

.conteudo-principal-escrito-subtitulo3 {
    color: var(--cor-texto);
    max-width: 600px; 
    margin: 0 auto; 
    line-height: 1.3; 
    text-align: center;
    font-weight: 400;
    font-size: 20px !important;
}

.conteudo-principalimg3{
    order: -1; 
    margin-right: 5px; 
} 

/*Seção sistema de monitoramento*/
.secao04{
    display: flex;
    background-color: #101010;
    justify-content: center;
    flex-direction: column;
    color: #FFFF;
    font-family: var(--fonte-primaria);
    text-align: center;
    gap: 19px;
    padding: 3% 23% 0 23%;
}

.texto4{
    font-weight: 300;
    font-size: 15px;
    color: #CDF6F7;
}

.titulo04{
    font-weight: 500;
    font-size: 48px;
}

.texto4_conteudo{
    font-weight: 400;
    font-size: 20px;
}

.objetivo{
    margin: 60px auto;
    width: 600px;
    font-family: var(--fonte-primaria);
}

.objetivo li{
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e2e2e2;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.17);
}

.objetivo li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{
    display: none;
}

.objetivo .conteudo_objetivo{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.objetivo input[type="radio"]:checked + label + .conteudo_objetivo{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.objetivo input[type="radio"]:checked + label::before{
    content: '-';
}

/*CARROSEL*/

.carrosel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: var(--cor-texto);
    margin: 10% 0% 12% 0%;
}

.slider{
    position: relative;
    width: 100%;
    height: 370px; /*370px*/
    font-family: var(--fonte-primaria);
}
.conteudo06{
    text-align: center;
    padding-top: 300px;
}

.slider p{
    font-size: 16px;
    color: var(--cor-texto);
}

.slider h4{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #16A5A3;
}

.item{
    position: absolute;
    width: 533px;
    height: 461px;
    text-align: justify;
    padding: 2%;
    transition: 0.5s;
    left: calc(50% - 280px);
    top: 0;
    border-radius: 20px;
}

#item1{
    background-image: linear-gradient(to bottom, transparent 0%, var(--cor-primaria) 85%), url(/assets/mergulhador.jpg);
    background-position: center;
    background-size: cover;
}

#item2{
    background-image: linear-gradient(to bottom, transparent 0%, var(--cor-primaria) 85%), url(/assets/cientista.jpg);
    background-position: center;
    background-size: cover;
}

#item3{
    background-image: linear-gradient(to bottom, transparent 0%, var(--cor-primaria) 85%), url(/assets/medidor_agua.jpg);
    background-position: center;
    background-size: cover;
}

#item4{
    background-image: linear-gradient(to bottom, transparent 0%, var(--cor-primaria) 85%), url(/assets/plastico_no_oceano.jpg);
    background-position: center;
    background-size: cover;
}


#proximo, #anterior{
    position: absolute;
    top: 140%; /*40%*/
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 20%;
    cursor: pointer;
}

#proximo{
    left: unset;
    right: 20%;
}

@media (max-width: 600px) {
    .slider{
        height: 23rem; /*370px*/
    }
    .conteudo06{
        padding-top: 20rem; /*300px*/
    }
    .slider p{
        font-size: 16px; /*16px*/
        color: var(--cor-texto);
    }
    
    .slider h1{
        padding-top: 1.87rem; /*30px*/
        font-size: 20px; /*20px*/
    }
    
    .item{
        width: 33.31rem; /*533px*/
        height: 28.81rem; /*461px*/
        left: calc(50% - 16.9rem);/*50% - 280px*/
        border-radius: 20px; /*20px*/
    } 
}

.body5 {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    padding: 2em;
    background-image: url('imag/Arco.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
}

.conteudo5 {
    padding: 20px; 
}

.conteudo-principal5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    padding: 20px; 
    justify-content: space-around;
}

.conteudo-principal-escrito5 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px; 
}

.conteudo-principal-escrito-top-titulo5 {
    font-family: var(--fonte-primaria);
    font-weight: 300;
    font-size: 15px;
    color: #CDF6F7;
    text-align: center;
    margin-top: -200px;
}

.conteudo-principal-escrito-titulo5 {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 50px;
    color: var(--cor-texto);
    margin-bottom: 60px;
    text-align: center;
}

.conteudo-principal-escrito-subtitulo5 {
    color: var(--cor-texto);
    max-width: 1000px; 
    line-height: 1.7; 
    font-weight: 400;
    font-size: 20px !important;
    text-align: center;
    margin-top: -20px;
    
}

.conteudo7 {
    padding: 20px;
}

.conteudo-principal7 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
}

.conteudo-principal-escrito7 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 35px; 
    text-align: center; 
}

.conteudo-principal-escrito-top-titulo7 {
    font-family: var(--fonte-primaria);
    font-weight: 300;
    font-size: 15px;
    color: #CDF6F7;
}

.conteudo-principal-escrito-titulo7 {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 50px;
    color: var(--cor-texto);
    margin-bottom: 25px;
}

.conteudo-principal-escrito-subtitulo7 {
    color: var(--cor-texto);
    max-width: 1000px;
    line-height: 1.7;
    font-weight: 400;
    font-size: 20px !important;
}

.video-container {
    text-align: center; 
    margin-top: 65px;
}

.img-container img {
    transition: transform 0.5s ease;
}

.img-container img:hover {
    transform: scale(1.1);
}

.conteudo-principalimg3 {
    transition: transform 0.5s ease;
}

.conteudo-principalimg3:hover {
    transform: scale(1.05);
}


.btn-scroll-top {
    position: fixed;
    right: 2rem;
    bottom: 5rem; /* Ajuste a distância do rodapé conforme necessário */
  
    display: grid;
    place-items: center;
  
    outline: none;
    border-radius: 100%;
    background-color: transparent; /* Remove o fundo */
    border: none; /* Remove a borda */
    cursor: pointer;
  
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  
    z-index: 10;
}

.show-btn-scroll-top {
    opacity: 1;
    pointer-events: all;
}

  
  .dropdown button {
    background: none;
    border: none;
    color: var(--cor-texto);
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
}

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: #101010;
    min-width: 160px;
    z-index: 1;
}

.dropdown-conteudo a {
    color: var(--cor-texto);
    background-color: #101010;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-conteudo {
    display: block;
}

/* Estilização para telas menores */
@media screen and (max-width: 768px) {
    .dropdown {
        display: none; /* Ocultar dropdown por padrão */
    }

    .cabecalho-menu-item {
        display: block; /* Garantir que os itens do menu apareçam em bloco */
        margin: 10px 0;
    }
}

.rodape {
    background-color: #101010;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Ajuste conforme necessário */
}

.formulario-email {
    display: flex;
    align-items: center;
}

.formulario-email input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff; /* Adicionei uma borda */
    background-color: transparent;
    color: #ffffff;
    margin-right: 10px;
    width: 250px; /* Ajuste conforme necessário */
}

.formulario-email button {
    padding: 10px 20px;
    background-color: transparent; /* Removi a cor de fundo */
    color: #ffffff;
    border: 1px solid #ffffff; /* Adicionei uma borda */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-email button:hover {
    background-color: #ffffff; /* Alterei a cor ao passar o mouse */
    color: #101010;
}